.navbar{
    background-color:#000000; 
}
.navbar .links{
    background-color:black !important;
}
.nav-links .nav-item {
color:white;
}
.sidebar{
    background-color:black;
}
.sidebar .nav-links {
    color:white;
}

.tag{
    font-weight:600;
    font-size:20px;
}